@{

    Layout = "../Shared/_Layout2.cshtml";
}



@{
    ViewBag.Title = "AdminHome";
}
<div class="text-center">
    <br />
    <h2>Admin Home</h2>

    <br />

    <a href="/Restaurant/RestaurantReg" class="btn btn-success">Add Restaurant </a>


    <a href="/Admin/RestaurantList" class="btn btn-success">Restaurant List</a>  <br /><br />


    <a href="/Admin/Request" class="btn btn-warning">Request list</a>


    <a href="/Admin/EmployeeAssignList" class="btn btn-warning">Employee Assign list</a>

</div>