
@{
    ViewBag.Title = "About";
}

<h2 class="text-center">About Us</h2>

<img src="~/Image/food.jpg"  width="1150" height="500"/>
<p>
    <b>  The goals of the Zero Hunger initiative are to end hunger and make sure that enough nutritious foods are available to people by 2030.<br />

    Other aspects of the goal include ending all forms of malnutrition and promoting sustainable agriculture</b>
</p>


<img src="~/Image/food2.jpg" width="1150" height="600" />
<p>
    <b>
        Their vision is a world where every woman, man and child leads a healthy, fulfilling life of self-reliance and dignity.<br />
        Their mission is to end hunger and poverty with sustainable, grassroots, women-centered strategies and advocating for their<br />
        widespread adoption in countries throughout the world.
    </b>
</p>