
@{
    ViewBag.Title = "Award";
}
<h2>Thank you for bestowing US with such an honour and this special award.</h2>
<br/>


<img src="~/Image/aw1.jpg"  width="400" height="200" /><h4>Public health prizes and awards</h4> <p>This awards administered by the Director-General of the World Health Organization</p>
<br/>


<div class="text-right"> <img src="~/Image/aw2.jpg" width="400" height="200" />
                         <p><b>UNESCO</b>  prizes for providing food to the poor</p>

</div>



<img src="~/Image/aw3.jpg" width="400" height="200"/>
<h4>UNICEF Award</h4>