
@{
    ViewBag.Title = "EmployeeHome";
}

<h2 class="text-center">Employee Home</h2>
<h3 class="text-center"> Welcome @Session["EName"].ToString()</h3>
<br />

<a href="/Employee/Todayslist/" class="btn btn-warning text-center">Todays list</a>

